@import "variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "fonts";

$fa-font-path: "/font-awesome/fonts";
@import "../bower_components/font-awesome/scss/font-awesome";

html, body {
  background: #444444;
  color: #eee;
}

body, html {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  //-webkit-app-region: no-drag;
}

.top-drag {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: $navbar-height;
  background: $main-color;

}

.main-nav {
  top: 0;
  padding-top: $top-drag-height;
  li {
    //-webkit-app-region: no-drag;
  }
}

.window-title {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  color: #fff;
  text-align: center;
  z-index: 10000;
  font-size: 17px;
}

.sub-nav {
  top: $navbar-height+$top-drag-height;
}

.navpad {
  padding-top: $navbar-height;
}

#app {
  height: 100%;
  //padding-top: $top-drag-height;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.col-xs-4 {
  height: 100%;
}

.bitcoin-price-box {
  text-align: center;
  line-height: 100px;
  .row, .col-xs-6 .col-xs-4 {
    height: 100%;
    padding:5px;
  }
  .logo-box{
    padding: 5px 30px;
  }
  .coin-logo {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: 350px;
    margin: auto;
  }
  img {
    width: 430px;
    height: auto;
  }
  .price-box{
    overflow: hidden;
  }
  .price {
    color: $bitcoin-orange;
    font-weight: bold;
    font-size: 110px;
    height:100%;
    white-space: nowrap;
    line-height: 100%;
    .price2{
      font-size: .45em;
      line-height: 100%;
      opacity: 0.7;
    }
  }
}

.bitcoin-price-box {
  &.bch {
    background: #2f3431;
    .price {
      color: #66991b;
    }
    .title {
      img {
        //padding:0 1px;
      }
    }
  }
  &.zcash {
    background: #3a7594;
    .price {
      color: #e2e2e2;
    }
    .title {
      img {
        //padding:0 50px;
      }
    }
  }
  &.ltc {
    background: #626264;
    .price {
      color: #bebebe;
    }
    .title {
      img {
        //padding:0 50px;
      }
    }
  }
  // etherium
  &.etherium {
    background: #363946;
    .price {
      color: #8a92b2;
    }
    .title {
      img {
        //padding:0 10px;
      }
    }
  }
  // etherium
  &.etheriumClassic {
    background: #36463f;
    .price {
      color: #9bcf91;
    }
    .title {
      img {
        //padding:0 10px;
      }
    }
  }
  // monero
  &.monero {
    background: #612e25;
    .price {
      color: #ff6726;
    }
    .title {
      img {
        //padding:0 25px;
      }
    }
  }
  // dash
  &.dash {
    background: #142e3e;
    .price {
      color: #0075ba;
    }
    .title {
      img {
        //padding:0 1px;
      }
    }
  }
}

canvas{
  height:100% !important;
}